:root {
    font-weight: 400;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--el-bg-color);

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--el-text-color-regular);
    text-decoration: inherit;
}

a:hover {
    color: var(--el-color-primary);
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: var(--el-bg-color);
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-size: 1em;
    font-family: inherit;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.25s;
}

.card {
    padding: 2em;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}

#app {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-weight: normal;
}

#app .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(192, 196, 204);
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
